{% extends 'base.html' %}

{% block content %}

<form action="/login" method="POST">
	<div class="login">
		<div class="login-screen">
			<div class="app-title">
				<h2>ACESSO</h2>
			</div>
			<div class="login-form">
				<div class="control-group">
					<input type="text" class="login-field" value="" placeholder="Digite seu r.a." name="username">
					<label class="login-field-icon fui-user" for="login-name"></label>
				</div>
				<div class="control-group">
					<input type="password" class="login-field" value="" placeholder="Digite sua senha" name="password">
					<label class="login-field-icon fui-lock" for="login-pass"></label>
				</div>
					<input type="submit" value="Acessar" class="btn btn-primary btn-block">
					<p class="message">Não tem uma conta? <a href="/register">Criar acesso</a></p>
					<p class="message"><a href="/password_reset">Esqueci minha senha</a></p>
				</div>
			</div>
		</div>
	</div>
</form>
<script>
	$('.message a').click(function(){
		$('form').animate({height: "toggle", opacity: "toggle"}, "slow");
	});
</script>

{% endblock %}
