{% extends 'base.html' %}

{% block content %}

<form action="/login" method="POST">
	<div class="login">
		<div class="login-screen">
			<div class="app-title">
				<h2>ACESSO</h2>
			</div>
			<div class="login-form">
				<div class="control-group">
					<input type="text" class="login-field" value="" placeholder="Digite seu r.a." name="username">
					<label class="login-field-icon fui-user" for="login-name"></label>
				</div>
				<div class="control-group">
					<input type="password" class="login-field" value="" placeholder="Digite seu email" name="email">
					<label class="login-field-icon fui-lock" for="login-email"></label>
				</div>
					<input type="submit" value="Enviar senha para e-mail" class="btn btn-primary btn-sm">
				</div>
			</div>
		</div>
	</div>
</form>
<script>
	$('.message a').click(function(){
		$('form').animate({height: "toggle", opacity: "toggle"}, "slow");
	});
</script>

{% endblock %}
