{% extends 'base.html' %}

{% block content %}

<form action="/register">
	<div class="login">
		<div class="login-screen">
			<div class="app-title">
				<h1>CRIAR LOGIN</h1>
			</div>
			<div class="login-form">
				<div class="control-group">
					<input type="text" class="login-field" value="" placeholder="username" name="username">
					<label class="login-field-icon fui-user" for="login-name"></label>
				</div>
                <div class="control-group">
                        <input type="email" class="login-field" value="" placeholder="email" name="email">
                        <label class="login-field-icon fui-lock" for="login-email"></label>
                    </div>
					<input type="submit" value="CRIAR" class="btn btn-primary btn-sm">
					<p class="message">Já tem uma conta? <a href="#">Login</a></p>
		</div>
	</div>
</form>
<script>
	$('.message a').click(function(){
		$('form').animate({height: "toggle", opacity: "toggle"}, "slow");
	});
</script>

{% endblock %}
